// ==================== COLORS ====================
$white: #ffffff;
$black: #000000;
$black-1: #363636;
$black-2: #3F3F3F;
$gray-1: #d6d6d6;
$gray-2: #c4c7c4;
$gray-3: #E2E2E2;
$gray-4: #ededed;
$green-1: #00C83C;
$green-2: #95DBB7;
$green-3: #A4D071;
$orange-1: #FE9200;
$orange-2: #FF9460;
$orange-3: #FECD72;
$blue-1: #63AABC;
$blue-2: #A5D7E1;
$blue-3: #8AA2C1;
$blue-4: #C0F3FF;


// ==================== BREAKPOINTS ====================
$mobilex: 375px !default;
$mobilexl: 480px !default;
$mobile: 576px !default;
$tablet: 768px !default;
$desktop: 992px !default;
$desktopL: 1200px !default;
$desktopLS: 1440px !default;
$desktopXL: 1600px !default;
$desktopXXL: 1920px !default;
$desktopXXXL: 2000px !default;

// ==================== FONT WEIGHTS ====================
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
