@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.sky-container{
  width: 100%;
  min-height: 27rem;

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    min-height: 27rem;
    max-height: 27rem;
  }

  .link-container{
    position: absolute;
    top: 3rem;
    left: 13rem;
    z-index: 1;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .link{
      color: $white;
      font-size: 1.2rem;
      font-family:"Verdana", sans-serif;
      font-weight: $bold;

      &:hover{
        color: $orange-1;
      }
    }

    .mat-icon{
      color: $white;
    }
  }

  h1{
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    color: $white;
    font-size: 2.4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: $bold;
    width: 80%;
    text-align: center;
    margin-left: 2.5rem;

    @include media-query(tablet) {
      top: 8rem;
    }
  }

  h2 {
    position: absolute;
    top: 17rem;
    left: 50%;
    transform: translateX(-50%);
    color: $white;
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
    width: 80%;
    text-align: center;
    margin-left: 2.5rem;

    @include media-query(tablet) {
      top: 11.8rem;
    }
  }
}
