@import "../../../../styles/variables";
@import "../../../../styles/mixins";

footer {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .footer-container {
    max-width: 120rem;
    margin: 0 auto;
    display: grid;
    //grid-template-areas: "footer-info-1 footer-info-1 footer-info-2 footer-info-2 footer-info-3";
    grid-template-areas:
      "footer-info-1 footer-info-1 "
      "footer-info-2 footer-info-2"
      "footer-info-3 footer-info-3";

      @include media-query(desktop) {
        grid-template-areas: "footer-info-1 footer-info-1 footer-info-2 footer-info-2 footer-info-3";
      }

    .footer-info-1 {
      grid-area: footer-info-1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;


      @include media-query(desktop) {
        padding-left: 10rem;
      }

      .logo-footer {
        margin-bottom: 2rem;
      }

      p {
        margin-bottom: 0.3rem;
        font-size: 1.4rem;
        color: $black-1;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        &.skandia {
          margin-bottom: 2rem;
        }

        &.strong {
          font-weight: $bold;
        }

        span {
          color: $green-1;
          font-weight: $bold;
        }
      }
    }

    .footer-info-2 {
      grid-area: footer-info-2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 4rem;


      @include media-query(desktop) {
        padding-top: 8rem;
      }

      a {
        color: $black-1;
        font-size: 1.5rem;
        display: block;
        margin-bottom: 0.3rem;

        &:hover {
          color: $green-1;
        }
      }
    }

    .footer-info-3 {
      grid-area: footer-info-3;

      height: 100%;

      display: flex;
      justify-content: center;
      padding-top: 4rem;


      @include media-query(desktop) {
        justify-content: flex-start;
        padding-top: 0rem;
      }

      .networks-container {
        margin-top: auto;

        a {
          margin-right: 2rem;
          font-size: 2rem;
          color: $black-1;
          transition: all 0.3s;

          &:hover {
            img {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}
