<footer>
  <!--   -->
  <div class="footer-container">
    <div class="footer-info-1">
      <img src="assets/logo.svg" alt="Skandia" class="logo-footer" />
      <p class="skandia">© 2019 Skandia</p>
      <p>PBX: <span>658 4000 / 484 1300</span></p>
      <p>Línea nacional <span>01 8000 517 526</span></p>
      <p>Línea Corporativa 658 4123</p>
      <p>Av. 19 # 109A - 30</p>
      <p>Bogotá D.C., Colombia</p>
      <p class="strong">Oficinas a nivel nacional</p>
    </div>
    <div class="footer-info-2">
      <a href="#">Términos y Condiciones Canales de Servicio</a>
      <a href="#">Defensoría del Consumidor Financiero</a>
      <a href="#">Protección de Datos</a>
      <a href="#">Definiciones Generales – Auto declaración FATCA y CRS</a>
      <a href="#">Recomendaciones de Seguridad</a>
      <a href="#">Ley de Transparencia Mapa del sitio</a>
    </div>
    <div class="footer-info-3">
      <div class="networks-container">
        <a href="#" class="networks">
          <img src="assets/icons/facebookl.png" alt="Facebook" />
        </a>
        <a href="#" class="networks">
          <img src="assets/icons/youtube.png" alt="Youtube" />
        </a>
        <a href="#" class="networks">
          <img src="assets/icons/twitter.png" alt="Twitter" />
        </a>
      </div>
    </div>
  </div>
</footer>
