<div class="dinamyc-container">
  <img src="assets/icons/medal.svg" alt="" class="medal">
  <div class="recomendados-container">
    <p>Productos recomendados</p>
  </div>
  <div class="dinamyc-box">
    <div class="title-box">
      <h3>¡Te recomendamos estos productos para <span class="orange">Conocer sobrino</span>!</h3>
    </div>
<!--
  <div class="slider-dynamic">
      <div class="card-container bd-blue-3">

        <div class="card-header">
          <div class="ahorro-container">
            <p>ahorro e inversión</p>
          </div>
          <div class="heart-container">
            <img src="assets/icons/heart.svg" alt="" class="heart">
          </div>
        </div>


        <div class="card-body">
          <p class="title-card">¡Fondo de inversión Colectiva, <span>la acción para potenciar tu capital y hacer real tu objetivo!</span></p>
          <a class="link" href="#">Conoce más</a>

          <div class="info-container">
            <p>Rentabilidades mínimas del <span>3% anuales</span></p>
          </div>
          <div class="info-container">
            <p><span>4.000 clientes </span>confian en este producto</p>
          </div>
        </div>
      </div>
    </div>

    -->





  <owl-carousel-o class="slider-dynamic" [options]="customOptions">

    <ng-template carouselSlide>
      <div class="card-container bd-blue-3">
        <div class="card-header">
          <div class="ahorro-container">
            <p>ahorro e inversión</p>
          </div>
          <div class="heart-container">
            <img src="assets/icons/heart.svg" alt="" class="heart">
          </div>
        </div>

        <div class="card-body">
          <p class="title-card">¡Fondo de inversión Colectiva, <span>la acción para potenciar tu capital y hacer real tu objetivo!</span></p>
          <a class="link" href="#">Conoce más</a>

          <div class="info-container money">
            <img src="assets/icons/world.png" alt="" class="world">
            <p>Rentabilidades mínimas del <span>3% anuales</span></p>
          </div>
          <div class="info-container profile">
            <img src="assets/icons/profile.png" alt="" class="profile">
            <p><span>4.000 clientes </span>confian en este producto</p>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="card-container bd-blue-3">
        <div class="card-header">
          <div class="ahorro-container">
            <p>ahorro e inversión</p>
          </div>
          <div class="heart-container">
            <img src="assets/icons/heart.svg" alt="" class="heart">
          </div>
        </div>

        <div class="card-body">
          <p class="title-card">¡Fondo de inversión Colectiva, <span>la acción para potenciar tu capital y hacer real tu objetivo!</span></p>
          <a class="link" href="#">Conoce más</a>

          <div class="info-container money">
            <img src="assets/icons/world.png" alt="" class="world">
            <p>Rentabilidades mínimas del <span>3% anuales</span></p>
          </div>
          <div class="info-container profile">
            <img src="assets/icons/profile.png" alt="" class="profile">
            <p><span>4.000 clientes </span>confian en este producto</p>
          </div>
        </div>
      </div>
    </ng-template>

  </owl-carousel-o>



  </div>
</div>
