<div class="main-card-container">
  <div class="main-card-text">
    <div class="main-text">
      <h3>Conocer mi sobrino</h3>
      <p>Categría: Bienestar</p>
    </div>
    <div class="link-container">
      <a href="#">Revisar objetivo</a>
    </div>
  </div>

  <div class="info-container">
    <div class="info-box">
      <p class="title-box">En esta fecha:</p>
      <div class="box date-box">
        <p>Diciembre/2022</p>
      </div>
    </div>

    <div class="info-box">
      <p class="title-box">Lograrás:</p>
      <div class="box goal-box">
        <p>$6.000.000</p>
      </div>
    </div>

    <div class="info-box">
      <p class="title-box">
        <img src="assets/icons/star_mini.svg" alt="coin" /> Ya cuentas con:
      </p>
      <div class="box amount-box">
        <p>$0</p>
      </div>
    </div>
  </div>

  <div class="cta-container">
    <img src="assets/icons/check-circle.svg" alt="arrow" />
    <a href="#">¡Asocia productos para monitorear su progreso! </a>
  </div>

  <img src="assets/montains.png" alt="montains" class="montains" />
</div>
